/* banner related style */
.banner{
position: relative;
display: inline-block;
display: flex;
width: 1320px;
height: 600px;
border-radius: 16px;
background: linear-gradient;
margin: 100px;
}

.banner-title-1, .banner-title-2{
position: absolute;
color: gold;
background-color: none;
text-align: center;
/* padding: 170px 500px 380px; */
font-family: Merriweather;
/* font-size: 42px; */
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
}
.banner-title-1{
    padding: 150px 500px 380px;
    font-size: 40px;    
}

.banner-title-2{
   padding: 230px 340px 170px; 
   font-size: 60px;
}